<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295738143254-aph19h5bkp3pp6foiu51iargssepmjdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295738143254-aph19h5bkp3pp6foiu51iargssepmjdg</string>
	<key>API_KEY</key>
	<string>AIzaSyDhb67cFIC0IU-sjSvkXb2LSeUy1R9szUE</string>
	<key>GCM_SENDER_ID</key>
	<string>295738143254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.albertai.hindsight</string>
	<key>PROJECT_ID</key>
	<string>hindsight-eb856</string>
	<key>STORAGE_BUCKET</key>
	<string>hindsight-eb856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295738143254:ios:37325f51b1f77ba7603b37</string>
</dict>
</plist>